.card{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  border: 1px solid rgb(255, 255, 255);
  width: auto;
  height: auto;
}

.image{
  width: 150px;
  height: 150px;
}

.item-card{
  margin-top: -10px;
  line-height: 25px;
}

.title{
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: medium;
  font-weight: bold;
}

.artists{
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: small;
}

.duration{
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 10px;
}


#select{
  width: 70px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: rgb(0, 126, 6);
  font-weight: bold;
}

#select:hover {
  background-color: rgb(0, 153, 13);
  color: black;
}
