.card {
  background-color: rgba(33, 33, 36, 0.616);
  width: 250px;
  height: 330px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.image {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 100px;
}

.title, .artists{
  color: white;
}

.title {
  font-size: small;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
}

.artists {
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.btn-card {
  text-align: center;
}

#select {
  background-color: green;
  color: white;
  font-weight: bold;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;
}

#select:hover {
  background-color: rgb(3, 105, 12);
  color: black;
}
