.card {
  background-color: whitesmoke;
  width: 350px;
  height: 500px;
  border: 1px solid rgb(218, 195, 203);
  border-radius: 30px;
}

.image {
  width: 80%;
  margin: 40px;
  border-radius: 20px;
}

.title {
  font-size: small;
  font-style: normal;
  text-align: center;
  margin-top: 5px;
}

.artists {
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.btn {
  text-align: center;
}

#select {
  background-color: rgb(97, 11, 97);
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

#select:hover{
  background-color: rgb(3, 105, 12);
}