.form-search{
  padding:40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.text_label{
  color: white !important;
}

#fullWidth{
  color: white;
}

#btn{
  background-color: rgb(0, 126, 6);
  border-radius: 50px;
}