.create-form{
    height: 230px;
    width: 500px;
    margin-left: 900px;
}

#text{
    font-size: 20px;
    font-family: 'Helvatica';
    color: white;
    margin-left: 30px;
}

.input{
    margin-top: 20px;
    line-height: 3em;
}

input, textarea{
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 30px;
}

input{
    width: 300px;
    height: 20px;
}

.btn{
    margin-left: 290px;
}

#submit{
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: green;
    color: white;
}